#container {
    width: 1140px;
    background-color: blueviolet;
}

#blog-post-container {
    width: 75%;
    background-color: aquamarine;
}

#others-posts {
    width: 25%;
    background-color: bisque;
}

#author-box {
    border: 5px solid red;
}
